header {
    
    padding: 20px;
    height: 140px;
    
    border-bottom: 2px solid #F6F6F6
  }
  .logo {
    .logo_text {
      h2 {
        font-size: 24px;
        font-weight: 700;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }
      h4{
        
        font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;
text-align: left;
color: #7B7B7B;

      }
    }
  }
  #cart {
    float: right;
    font-family: Times New Roman;
font-size: 16px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0em;

    width: 150px;
    height: 50px;
    
  }
  .price{
    background-color:#FE5F1E;
    border-radius: 40px 0px 0px 40px;
    width: 60%;

  }
  .count{
    background-color:#FE5F1E;
    margin-left: 1px;
    border-radius: 0px 40px 40px 0px;
    width: 40%;
  }
  .container{
    
    background-color: #fff;
    margin-top: 40px;
  }
  .filter{
    height: 121px;
  }
  .btn-primary{
    height: 41px;
    border-radius: 40px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    color: black !important;
    background-color: #F9F9F9 !important;
    border: 0px !important;
    margin-right: 10px;
    
    
  }
 .active {
    background-color: #8b8b8b !important;
    color: white !important;
  }
  @media (min-width: 1200px) {
    
    .container {
      max-width: 1200px !important;
    }
    .cont{
      width: 1096px;
    }
  }
  @media (max-width: 1200px) {
    
    .cont{
      width: 822px;
    }
  }
  @media (max-width: 992px) {
    
    .cont{
      width: 548px;
    }
    .filter{
      height: 200px;
    }
  }
  @media (min-width: 576px) and (max-width: 768px) {
    .cont {
      width: 274px;
    }
  }
  @media (max-width: 576px){
    .cont {
      width: 274px;
    }
    .container {
      max-width: 80% !important;
    }
    .filter{
      height: auto;
    }
  }
  
  body{
    background-color: #FFDF8C !important;
  }
  section#menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .hidden {
    display: none;
  }
  
  .flex {
    display: flex;
  }
  .pizza {
    width: 260px;
    height: 500px;
    margin: 7px;
    margin-top: 30px;
    flex-direction: column;
    align-items: center;
    justify-content:space-between; 
    text-align: center;
    transition: transform 0.3s ease;
    .pref{
      .btn{
        border: none;
        height: 38px;
      }
      .btn-group{
        .btn{
          width: 117px;
        }
      }
      .btn-group_2{
        .btn{
          width: 73px;
        }
      }
      .btn-check:checked + label {
        background-color: #fff; 
      }
    }
    h2{
      font-family: Times New Roman;
font-size: 20px !important;
font-weight: 700;
line-height: 23px;
letter-spacing: 0em;
text-align: left;

    }
    .pick{
      width: 260px;
      p{
        font-family: Times New Roman;
font-size: 22px;
font-weight: 700;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
        margin-top: auto;
        margin-bottom: auto;
      }
    }
    .pref{
      height: 100px;
      width: 260px;
      background-color: #F3F3F3;
      
    }
  }
  
  .pizza:hover {
    transform: scale(1.05);
  }
  
  .pizza img {
    max-width: 100%;
    height: auto;
  }
  
  .pizza h2 {
    margin-top: 10px;
    font-size: 24px;
  }
  
  .pizza p {
    margin-top: 5px;
    font-size: 16px;
  }
  
  .pizza button {
    height: 46px;
    width: 131px;
    border-radius: 30px !important;
    font-size: 16px;
    border: 2px solid #EB5A1E ;
    background-color: #fff;
    color: #EB5A1E;
    font-family: Arial;
font-size: 14px;
font-weight: 900;
line-height: 20px;
letter-spacing: 0em;
text-align: center;

    cursor: pointer;
  }
  
  #cart-count {
    font-weight: bold;
  }
  
  #total-price {
    font-weight: bold;
    
  }

  .sort{
    .btn-primary{
      width: 98px !important;
      height: 20px;
      padding: 0px !important;
      margin-left: 5px;
      text-align: left;
      font-family: Arial;
font-size: 16px;
font-weight: 400;
line-height: 17px;
letter-spacing: 0em;
color: #FE5F1E !important;
border-bottom: 3px dashed  #FE5F1E !important;

    }
  }
